<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/conta.css">

    <title>Conta - BankingAPP</title>
</head>
<body>

    <!-- Logo da empresa -->
    <div class="logo">
        <img src="/static/assets/logo-fl.png" alt="Logo">
    </div>
    
    <!-- Dados do usuário -->
    <div class="container">
        <main class="form-login">
            <h2>DADOS DA CONTA</h2>
            <p>Nome: <span id="name"></span></p>
            <p>CPF: <span id="cpf"></span></p>
            <p>Saldo R$<span id="saldo"></span></p>
            <button id="botaoTransferir" onclick="revelarTransferencia()">Transferencia</button>
            <div  id="transferencia" class="trans">
                <h2>TRANSFERIR</h2>
                <form>
                    <input type="number" step="0.1" id="valor" placeholder="Valor">
                    <input type="text" id="destinUsercpf" placeholder="Destinatario">
                    <button class="transf" type="submit">Transferir</button>
                </form>
            </div>
        </main>
    </div>

    <div class="sair">
        <button>Sair</button>
    </div>

    <script src="/static/js/main.js"></script>

</body>
</html>